color and background color, font family size and weight, text align, img height width, 

uo {
    display: inline;
}

header {
    border-radius: 50px;
    width: 800px;
    margin: 0px 300px 0px 300px;
    align-content: center;
    border: 10px solid black;
} 
}
ul {
    line-height: 20px;
}
ol {
    line-height: 20px;
}
.recipe {background-color: white;
border-radius: 50px;
font-language-override: ;}
li{
    line-height: 20px;
}
p {
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 5px ;
}
.large {
    font-size: 40px
}
.endlist {
    line-height: 20px ;
}
h3 {
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
}
h1 {margin-top: 80px;}
.home {margin-top: 20px;}
img {
    border-radius: 50px;
    height:auto;
    max-width: 40%    ; 
    }

body {
    position: relative;
    background-color: #0ff;
    background: linear-gradient(green, white, orange);
  }

  #cubed {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20em;
    height: 7em;
    margin-left: -9em;
    margin-top: -1.5em;
    background: linear-gradient(#f0f, #f0f) 2em 1em /2em 1em, linear-gradient(#f0f 1em, #ffc0cb 3em) 1em 2em/1em 4em, linear-gradient(#f0f, #f0f) 4em 2em/1em 1em, linear-gradient(#ffc0cb, #ffc0cb) 4em 5em/1em 1em, linear-gradient(#ffc0cb, #ffc0cb) 2em 6em /2em 1em, linear-gradient(45deg, rgba(0,0,255,0) 0.7em, #00f 0.7em, #00f 2.12em, rgba(0,0,255,0) 2.12em) 1em 0 /3em 1em, linear-gradient(45deg, rgba(0,0,255,0) 0.7em, #00f 0.7em, #00f 1.4em, rgba(0,0,255,0) 1.4em) 0 1em /2em 1em, linear-gradient(45deg, #00f 0.7em, rgba(0,0,255,0) 0.7em) 4em 1em/1em 1em, linear-gradient(45deg, rgba(0,0,255,0) 0.7em, #00f 0.7em, #00f 2.12em, rgba(0,0,255,0) 2.12em) 1em 5em /3em 1em, linear-gradient(45deg, rgba(0,0,255,0) 0.7em, #00f 0.7em, #00f 1.4em, rgba(0,0,255,0) 1.4em) 3em 4em /2em 1em, linear-gradient(45deg, rgba(0,0,128,0) 0.7em, #000080 0.7em, #000080 3.7em, rgba(0,0,128,0) 3.7em) 0 1em/1em 5em, linear-gradient(#000080, #000080) 1em 0/1em 2em, linear-gradient(45deg, rgba(0,0,128,0) 0.7em, #000080 0.7em, #000080 3.7em, rgba(0,0,128,0) 3.7em) 1em 6em/1em 1em, linear-gradient(#000080, #000080) 3em 4em/1em 2em, linear-gradient(#f0f 2em, #ffc0cb 4em) 6em 1em/1em 5em, linear-gradient(#ffc0cb, #ffc0cb) 7em 6em /2em 1em, linear-gradient(#f0f 2em, #ffc0cb 4em) 9em 1em/1em 5em, linear-gradient(45deg, rgba(0,0,255,0) 0.7em, #00f 0.7em, #00f 1.4em, rgba(0,0,255,0) 1.4em) 5em 0 /2em 1em, linear-gradient(45deg, rgba(0,0,255,0) 0.7em, #00f 0.7em, #00f 1.4em, rgba(0,0,255,0) 1.4em) 8em 0 /2em 1em, linear-gradient(45deg, rgba(0,0,255,0) 0.7em, #00f 0.7em, #00f 2.12em, rgba(0,0,255,0) 2.12em) 6em 5em /3em 1em, linear-gradient(45deg, rgba(0,0,128,0) 0.7em, #000080 0.7em, #000080 4.7em, rgba(0,0,128,0) 4.7em) 5em 0/1em 6em, linear-gradient(45deg, rgba(0,0,128,0) 0.7em, #000080 0.7em, #000080 4.7em, rgba(0,0,128,0) 4.7em) 8em 0/1em 6em, linear-gradient(45deg, rgba(0,0,128,0) 0.7em, #000080 0.7em, #000080 3.7em, rgba(0,0,128,0) 3.7em) 6em 6em/1em 1em, linear-gradient(#f0f 2em, #ffc0cb 4em) 11em 1em/1em 6em, linear-gradient(#f0f, #f0f) 11em 1em /3em 1em, linear-gradient(#f0f, #f0f) 14em 2em/1em 1em, linear-gradient(#f0f, #ffc0cb 2em) 11em 3em /3em 1em, linear-gradient(#f600f6, #ffc0cb 1.6em) 14em 4em/1em 2em, linear-gradient(#ffc0cb, #ffc0cb) 11em 6em /3em 1em, linear-gradient(45deg, rgba(0,0,255,0) 0.7em, #00f 0.7em, #00f 2.83em, rgba(0,0,255,0) 2.83em) 10em 0 /4em 1em, linear-gradient(45deg, #00f 0.7em, rgba(0,0,255,0) 0.7em) 14em 1em/1em 1em, linear-gradient(45deg, rgba(0,0,255,0) 0.7em, #00f 0.7em, #00f 2.12em, rgba(0,0,255,0) 2.12em) 11em 2em /3em 1em, linear-gradient(45deg, #00f 0.7em, rgba(0,0,255,0) 0.7em) 14em 3em/1em 1em, linear-gradient(45deg, rgba(0,0,255,0) 0.7em, #00f 0.7em, #00f 2.12em, rgba(0,0,255,0) 2.12em) 11em 5em /3em 1em, linear-gradient(45deg, rgba(0,0,128,0) 0.7em, #000080 0.7em, #000080 5em, rgba(0,0,128,0) 5em) 10em 0/1em 7em, linear-gradient(#000080, #000080) 13em 2em/1em 4em, linear-gradient(#f0f 2em, #ffc0cb 4em) 16em 1em/1em 6em, linear-gradient(#f0f, #f0f) 16em 1em /4em 1em, linear-gradient(#f0f, #ffc0cb 2em) 16em 3em /3em 1em, linear-gradient(#ffc0cb, #ffc0cb) 16em 6em /4em 1em, linear-gradient(45deg, rgba(0,0,255,0) 0.7em, #00f 0.7em, #00f 3.55em, rgba(0,0,255,0) 3.55em) 15em 0 /5em 1em, linear-gradient(45deg, rgba(0,0,255,0) 0.7em, #00f 0.7em, #00f 2.12em, rgba(0,0,255,0) 2.12em) 16em 2em /3em 1em, linear-gradient(45deg, #00f 2.83em, rgba(0,0,255,0) 2.83em) 16em 5em /5em 1em, linear-gradient(45deg, rgba(0,0,128,0) 0.7em, #000080 0.7em, #000080 5em, rgba(0,0,128,0) 5em) 15em 0/1em 7em;
    background-repeat: no-repeat;
    transform: skewY(-12deg) scale(0.9);
    transform-origin: 0 0;
  }

.example-number {
    position:relative;
    border-style: solid;
    border-radius: 50px;
    width: 800px;
    height:100px;
    margin: 50px;
    text-align:center;
    font: 50px / 25px Arial, sans-serif;
    color: black;
    background:green;
  }
  
  /* creates the larger triangle */
  .example-number:before {
    content:"";
    position:absolute;
    bottom:-140px;
    right:0;
    border-width:0 0 140px 140px;
    border-style:solid;
    border-color:transparent lightblue;
  }
  
  /* creates the larger triangle */
  .example-number:after {
    content:"";
    position:absolute;
    bottom:-140px;
    right:85px;
    border-width:0 0 140px 55px;
    border-style:solid;
    border-color:transparent green;
  }

.blueback {background-color: lightblue;}
.white {color: white;}
.center {
    text-align: center;
    font-size: 60px;
}
.center2 {
    text-align: center;
    font-size: 20px;
}
button {
    border-radius: 50px;
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
    background-color: red;
}

.bb 
    background-color: black;
    color: white;
}
.yb {
    background-color: yellow;
}
div {
    width: 100px;
    padding: 10px;
    border-radius: 50px;
    border: 5px solid black;
    margin: 5px 5px -20px 5px ;
}

.container {
    height: auto;
    width: 225px;
    background-color: white;
    border: 5px dotted green;
}

.container2 {
    height: auto;
    width: 150px;
    padding: 0px;
    background-color: white;
    border: 5px dotted green;
}
h2 {
    border: 2px solid black;
    padding: 0px;
}